$white: #fff;
$grey: #eeeeee;
$blue: #1ba0cd;
$darkest: rgba(41, 121, 255, 0.75);
$listbackblue: #F4F4F4;
$linkbackblue: $listbackblue;
$hoverlinkbackblue: $blue;
$active: #1D3461;
$hover: $white;
$usual: #6290Cf;
